<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Communaute</title>
</head>
<body>
<header>
    <p> Connecté en tant que : {{ user['prenom'] }} {{ user['nom'] }} </p>
</header>
<h1>Toutes les Bouteilles Archivées</h1>
<div class="container">
<table>
                <thead>
                    <tr>
                        <th>Proprietaire</th>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Domaine</th>
                        <th>Région</th>
                        <th>Type</th>
                        <th>Année</th>
                        <th>Prix&nbsp;€</th>
                        <th>Note /10</th>
                        <th>Moyenne</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bouteillesArchivees %}
                    <tr>
                        <td>{{ b['proprietaire'] }}</td>
                        <td>
                            {% if b['etiquette'] %}
                                <img src="{{ b['etiquette'] }}" style="max-width:50px;">
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ b['nom'] }}</td>
                        <td>{{ b['domaine'] }}</td>
                        <td>{{ b['region'] }}</td>
                        <td>{{ b['type'] }}</td>
                        <td>{{ b['annee'] }}</td>
                        <td>{{ b['prix'] }} €</td>
                        <td>{{ b['note'] }}</td>
                        <td>{{ b['moyenne'] }}</td>
                        <td>{{ b['commentaire'] }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Personne n'a archivé de bouteille pour le moment !</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


<a href="/">Menu</a>
    </div>
</body>
</html>