<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Créer une bouteille</title>
</head>
<body>
    <div class="creer-bouteille-container">
        <h1>Créer une bouteille</h1>

        <!-- Messages flash
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %} -->

        <form action="{{ url_for('creer_bouteille') }}" method="POST" enctype="multipart/form-data">
            <label for="domaine">Domaine :</label>
            <input type="text" id="domaine" name="domaine" required>

            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>

            <label for="type">Type :</label>
            <input type="text" id="type" name="type" required>

            <label for="annee">Année :</label>
            <input type="number" id="annee" name="annee" required>

            <label for="region">Région :</label>
            <input type="text" id="region" name="region" required>

            <label for="prix">Prix :</label>
            <input type="number" step="0.01" id="prix" name="prix" required>


            <label for="etagere">Étagère :</label>
        <select name="etagere_id" id="etagere" required>
            {% for etagere in etageres %}
        <option value="{{ etagere['id'] }}">{{ etagere['nom'] }} ({{ etagere['capacite'] }} places)</option>
         {% endfor %}
        </select>

            <label>Image :</label>
            <input type="file" name="image">

            <button type="submit">Créer la bouteille</button>
        </form>

        <a href="{{ url_for('index') }}">Annuler</a>
    </div>
</body>
</html>