<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Cave à Vin</title>
</head>
<body>

<h1>Bienvenue {{ user['prenom'] }} {{ user['nom'] }}</h1>
<p>Votre login : {{ user['login'] }}</p>

<h2>Ma Cave :</h2>
<a href="{{ url_for('creer_cave') }}">Créer une cave</a>

<p> {% for c in cave %}
    {{ c['nom'] }}
    {% endfor %} </p>

<h2>Mes Bouteilles</h2>
<a href="{{ url_for('creer_bouteille') }}">Ajouter une bouteille</a>
<ul>
    {% for b in bouteilles %}
    <li>{{ b['nom'] }} - {{ b['domaine'] }} - {{ b['type'] }} - {{ b['annee'] }} <a href="{{ url_for('archiver', bouteille_id=b['id']) }}">Archiver bouteille</a></li>
    {% endfor %}
</ul>


<h2>Mes Bouteilles Archivées</h2>
<ul>
    {% for b in bouteillesArchivees %}
    <li>{{ b['nom'] }} - {{ b['domaine'] }} - {{ b['type'] }} - {{ b['annee'] }} - {{ b['note'] }}/10 - Moyenne: {{ b['moyenne'] }}/10 -  {{ b['commentaire'] }}</li>
    {% endfor %}
</ul>

<a href="communaute">Avis de la communauté</a>
<br> <br>
<a href="{{ url_for('logout') }}">Se déconnecter</a>
</body>
</html>